{% extends 'base.html' %}
{% block title %}PatchApp - Nova Venda{% endblock %}
{% block main %}
<div class="container">
    <form method="post">

        {% csrf_token %}
        <div class="row"><div class="col-sm"><p>Nome do cliente: {{ form.nome }}</p></div></div>
        <div class="row"><div class="col-sm"><p>Descrição da venda: {{ form.descricao }}</p></div></div>
        <div class="row">
            <div class="col-sm">
               <h4>Primeira parcela:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Valor: {{ form.parcela_um_val }} Data: {{ form.parcela_um_data }} Paga: {{ form.parcela_um_paga }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
               <h4>Segunda parcela:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Valor: {{ form.parcela_dois_val }} Data: {{ form.parcela_dois_data }} Paga: {{ form.parcela_dois_paga }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
               <h4>Terceira parcela:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Valor: {{ form.parcela_tres_val }} Data: {{ form.parcela_tres_data }} Paga: {{ form.parcela_tres_paga }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
               <h4>Quarta parcela:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Valor: {{ form.parcela_quatro_val }} Data: {{ form.parcela_quatro_data }} Paga: {{ form.parcela_quatro_paga }}
            </div>
        </div>
        <button class="btn btn-success" type="submit">Salvar</button><a type="button" href="{% url 'tela_inicial' %}" class="btn btn-primary">Voltar</a>
    </form>
</div>
{% endblock %}