<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
            <p>
                Olá {{ user.username }}!
                <a href="{% url 'logout' %}">Sair</a>
            </p>
        {% else %}
            <p>
                Você não está logado.
                <a href="{% url 'login' %}">Entrar</a>
            </p>
        {% endif %}
    </div>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>