<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-12 col-lg-6 col-lg-8"><p class="text-left">Olá {{ user.username }}!
                <a class="text-left" href="{% url 'logout' %}">Sair</a></p></div>
                <div class="col-4"><p class="text-right"><a class="text-right" href="{% url 'password_change' %}">Alterar senha</a></p></div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg">
                    <a class="btn btn-primary" href="{% url 'login' %}">Entrar</a>
                    <a class="btn btn-outline-primary" href="{% url 'password_reset' %}">Esqueci a senha</a>
                    <a class="btn btn-outline-success" href="{% url 'novo_usuario' %}">Criar nova conta</a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>